{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "ce73b16b88bea1b76aa05f5a1212dd52",
        "request": {
          "headers": [
            {
              "name": "client",
              "value": "JupiterOne-Cobalt Integration client"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "x-org-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.cobalt.io/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.cobalt.v1+json",
            "size": 145,
            "text": "{\"pagination\":{\"next_page\":null,\"prev_page\":null},\"data\":[{\"resource\":{\"id\":\"3119\",\"name\":\"TEST ORG - API\",\"token\":\"[REDACTED]\"}}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.cobalt.v1+json"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "30"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "29"
            },
            {
              "name": "x-scheme",
              "value": "https"
            },
            {
              "name": "x-real-ip",
              "value": "172.68.34.214"
            },
            {
              "name": "x-original-forwarded-for",
              "value": "73.153.111.26"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 449,
      },
      {
        "_id": "ce73b16b88bea1b76aa05f5a1212dd52",
        "request": {
          "headers": [
            {
              "name": "client",
              "value": "JupiterOne-Cobalt Integration client"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "x-org-tok[...]
