{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "ce73b16b88bea1b76aa05f5a1212dd52",
        "request": {
          "headers": [
            {
              "name": "client",
              "value": "JupiterOne-Cobalt Integration client"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "x-org-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.cobalt.io/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.cobalt.v1+json",
            "size": 145,
            "text": "{\"pagination\":{\"next_page\":null,\"prev_page\":null},\"data\":[{\"resource\":{\"id\":\"3119\",\"name\":\"TEST ORG - API\",\"token\":\"REDACTED\"}}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.cobalt.v1+json"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "30"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "29"
            },
            {
              "name": "x-scheme",
              "value": "https"
            },
            {
              "name": "x-real-ip",
              "value": "172.68.34.214"
            },
            {
              "name": "x-original-forwarded-for",
              "value": "73.153.111.26"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 463,
      },
      {
        "_id": "2e8b9969374c0571c73391b514033679",
        "request": {
          "headers": [
            {
              "name": "client",
              "value": "JupiterOne-Cobalt Integration client"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "x-org-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.cobalt.io/assets"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.cobalt.v1+json",
            "size": 1966,
            "text": "{\"pagination\":{\"next_page\":null,\"prev_page\":null},\"data\":[{\"resource\":{\"id\":\"as_9ctVo4X\",\"title\":\"Test API Asset\",\"description\":\"\",\"asset_type\":\"api\",\"attachments\":[]}},{\"resource\":{\"id\":\"as_rPjSpXj\",\"title\":\"Test Asset #1\",\"description\":\"First test Asset\",\"asset_type\":\"web\",\"attachments\":[]}},{\"resource\":{\"id\":\"as_HrZ74Uh\",\"title\":\"Test Cloud Config\",\"description\":\"\",\"asset_type\":\"cloud_config\",\"attachments\":[]}},{\"resource\":{\"id\":\"as_ClGUrXE\",\"title\":\"Test Crazy Chars Asset @#$%@(~~``\",\"description\":\"\",\"asset_type\":\"web\",\"attachments\":[]}},{\"resource\":{\"id\":\"as_Vw8HhoR\",\"title\":\"Test External Network Asset\",\"description\":\"\",\"asset_type\":\"external_network\",\"attachments\":[]}},{\"resource\":{\"id\":\"as_O6qPyLc\",\"title\":\"Test Internal Network Asset\",\"description\":\"\",\"asset_type\":\"internal_network\",\"attachments\":[]}},{\"resource\":{\"id\":\"as_KmzMiKh\",\"title\":\"Test Mobile Asset\",\"description\":\"Some description of a  mobile asset\",\"asset_type\":\"mobile\",\"attachments\":[{\"token\":\"REDACTED\",\"download_url\":\"REDACTED\"}]}},{\"resource\":{\"id\":\"as_WFbWToK\",\"title\":\"Test Web+API Asset\",\"description\":\"\",\"asset_type\":\"web_plus_api\",\"attachments\":[]}},{\"resource\":{\"id\":\"as_m8KEIsR\",\"title\":\"Test Web Asset\",\"description\":\"\",\"asset_type\":\"web\",\"attachments\":[]}},{\"resource\":{\"id\":\"as_qpShMvk\",\"title\":\"Test Web + External Network Asset\",\"description\":\"\",\"asset_type\":\"web_plus_external_network\",\"attachments\":[]}},{\"resource\":{\"id\":\"as_MyGvYsm\"[...]
